h3{
    font-size: 25px !important;
}
.btn-info:hover
{
    background-color: green;
}
 canvas {
     animation-name: rgb;
     animation-duration: 2s;
     animation-iteration-count: infinite;
 }
 @keyframes rgb {
     from {box-shadow: 1px 1px 42px brown;}
     to {box-shadow: 15px 15px 50px greenyellow;}
    
 }
 .copy_right_footer
{
    font-family: 'Roboto', sans-serif;
    position:fixed ;
    color: #717172;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: white;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(100, 99, 99);
}
 